<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>My food Blog</title>
	</head>
	<title>My Food Blog</title>

<body>
	<div id="navi">
		<a href="{% url homepage_home %}">Home</a> | <a href="{% url homepage_about %}">About</a>
	</div>
<img src="http://blog.internetnews.com/dneedle/fresh-fruit-and-vegetables.jpg" width="200" height="142" />
<h1>My Food Blog</h1>
	<div id="content">
	{% block content %}
		{% for e in entries %}
			{{ e.title }}<br/>
			{{ e.date }}<br/>
			{{ e.text }}<br/>
			{{ e.calories }}<br/>
			<hr/>
		{% endfor %}

	{% endblock %}
	</div>
</body>

</html>